* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101524; /* Cor de fundo atualizada */
}

.login-container {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column; /* Permite que os filhos sejam empilhados verticalmente */
    justify-content: center; /* Centraliza os itens no eixo vertical */
    align-items: center; /* Centraliza os itens no eixo horizontal */
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Sansita', sans-serif; /* Aplica a fonte Sansita */
    color: #101524; /* Cor do texto */
}

.login-input {
    width: 100%; /* Faz com que o campo de entrada ocupe toda a largura */
    margin-bottom: 15px;
}

.login-input input {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Bordas semi-transparentes */
    border-radius: 20px;
    width: 100%; /* Faz com que o campo de entrada ocupe toda a largura */
    margin-bottom: 10px;
    background-color: transparent; /* Fundo transparente */
    color: #101524; /* Cor do texto */
    outline: none;
}

.login-input input:focus {
    border-color: #007bff; /* Cor da borda quando focado */
}

.login-button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%; /* Faz com que o botão ocupe toda a largura */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
